---
import Layout from '../layouts/Layout.astro';
import Card from '../components/card-servicio.astro'


import CardInfo from '../components/card-info.astro'

const info = [
    {
        'href': '/cliente/dra.medina',
        'nombre': 'Dra. Veriosca Medina',
        'descrip': 'Dra. Veriosca Medina. Hacemos que las visitas al dentista sean una experiencia divertida. Odontología infantil con cariño.',
        'profesion': 'Odontólogo',
        'src': '/cliente/dra.medina/img1.png'
},
{
        'href': '/cliente/clinica veneto copy',
        'nombre': 'Clínica Vento Odontología',
        'descrip': 'En Veneto Odontología, creemos en la odontología personalizada. Adaptamos nuestros tratamientos a tus necesidades y deseos, para que puedas lucir la sonrisa que siempre has soñado.',
        'profesion': 'Odontólogo',
        'src': '/cliente/clinica veneto/principal.png'
},
{
        'href': '/cliente/od.mariangel',
        'nombre': 'Od. Mariangel Mogollon',
        'descrip': 'La Dra. Maringel es una odontóloga dedicada a brindar una atención dental integral y personalizada. Se centra en la salud bucal a largo plazo y en la satisfacción de sus pacientes.',
        'profesion': 'Odontólogo',
        'src': '/cliente/od.mariangel/principal.jpg'
},
]

---

<Layout title='Servicio-odontologia'>
    <div id="main-content">
        <main>
            <section class="hero">
                <img src="/servicios/odontologia.png" alt="Odontologia" class="hero-image">
            </section>
            <!-- Content Section -->
            <section class="profiles">
                <!--Obligatorio los atributos -->
                {
                    info.map(({href, nombre, descrip, profesion, src}) => {
                        return <Card
                        href={href}
                        nombre={nombre}
                        descripcion={descrip}
                        profesion={profesion}
                        src={src}  />
                    
                    })
                }

                {
                   info.length >0 ? <CardInfo 
                    title="¿Te gustaría aprovechar este espacio sin competencia?" 
                    descrip="Esta sección de nuestra página web no cuenta con clientes actualmente, lo que representa una oportunidad única para ti, asegúrate de que tu emprendimiento sea el primero en ocupar este espacio, captando toda la atención de nuestros visitantes!"/>
                    : <CardInfo 
                title="¿Te gustaría que tu emprendimiento aparezca en nuestra página web?" 
                descrip="Si buscas una forma eficaz de promover tu negocio, nos especializamos en ofrecer servicios que ayudan a emprendedores como tu, a publicar y promocionar sus proyectos en nuestra plataforma."/>
                }
                
                <!-- Repeat similar profile blocks as needed -->
            </section>
        </main>

</Layout>
<style>
.hero{
    width: 80%;
    margin: 0 auto;
}
.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 600px) {

    .hero{
        width: 100%;
    }
    .profiles {
        flex-direction: row;
        align-items: center;
    }

    .profile {
        max-width: 90%;
    }
}
</style>
