---

const {href, nombre, descripcion, profesion, src} = Astro.props

---


<a href={href} class="profile">
    <img src={src} alt="Person" class="profile-image">
    <div class="profile-info">
        <h3>{profesion}</h3>
        <p class="profile-name">{nombre}</p>
        <p class="profile-rating">★★★★★</p>
        <p class="profile-description">{descripcion}</p>
    </div>
</a>

<style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}
    .profile {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.profile:hover {
    transform: scale(1.05);
}

.profile-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.profile-info {
    margin-top: 10px;
}

.profile-name {
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.profile-title {
    font-size: 14px;
    color: #666;
    margin: 0 0 10px 0;
}

.profile-rating {
    font-size: 16px;
    color: gold;
    margin: 0 0 10px 0;
}

.profile-description {
    font-size: 14px;
    color: #333;
}
</style>